{% extends 'base.html' %}

{% block usuario %}

{% if usuario %}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Correo</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion</th>
      <th scope="col">Editar/Eliminar</th>
    </tr>
  </thead>
  {% for i in usuario %}
      
      <tbody>
          <tr class="table-dark">
            <th scope="row">{{i.id}}</th>
            <td>{{i.nombre}}</td>
            <td>{{i.correo}}</td>
            <td>{{i.telefono}}</td>
            <td>{{i.direccion}}</td>
            <td>
              <a href="{% url 'uupdate' i.id %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'udelete' i.id %}" class="btn btn-primary">Eliminar</a>
          </td>
          </tr>
      </tbody>
  {% endfor %}
</table>
{% else %}
<h1>No Existen Registros</h1>
{% endif %}

<a href="{% url 'ucreate' %}" class="btn btn-primary">AÑADIR</a>
  
{% endblock usuario %}